<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="toggleAllDisplays" value="false" />
    <add key="vibrance" value="80" />
    <add key="hue" value="7" />
    <add key="brightness" value=".60" />
    <add key="contrast" value=".65" />
    <add key="gamma" value="1.43" />
  </appSettings>
</configuration>